#logo_bingo {
   width: 50%;
   position: relative;
   left:25%;
}

body {
   background: yellow;
}

#button_start {
   background: yellow;
   border: yellow;
   width: 10%;
   text-align: center;
   left: 45%;
   position: absolute;
   font-size: 35;
   
}

#number_picked {
   background: white;
   border: black 2px solid;
   position: absolute;
   left: 60%;
   top: 20%;
   width: 35%;
   height: 60%;
   border-collapse: collapse;
   text-align: center;
   font-weight: bold;
   visibility: visible;
   
}
#music {
   visibility: hidden;
}
   
.number_picked_case {
   border: black 2px solid;
   font-size: 20px;
}
#ball{
   position:absolute;
   top:20%;
   height: 60%;
   left:10%;
}
#ball_image{
   height: 100%;
}
#last_number{
   position: absolute;
   top: 0;
   font-size: 180;
   left: 25%;
   text-align: center;
   width: 50%;
   font-family: calibri;
   height:50%;
   margin-top: 0;
   padding-top:25%;
}
#draw {
   position: absolute;
   text-align: center;
   width: 15%;
   left: 42%;
   top: 70%;
   BACKGROUND-COLOR: AQUA;
   border-color: blue;
   border-radius: 2pc;
   cursor: pointer;
}
#title
{
   color: red;
   font-size: 90px;
   font-family: arial;
   
}
#contenair
{
   display:flex;
   justify-content: center;
   top: -60px;
   visibility: : visible;
   position: absolute;
   width: 99%;
}
@media all and (max-width:500px) {
   #logo_bingo {
      width: 50%;
      position: relative;
      left:25%;
      font-size: 50;
   }
   #title
   {
      color: red;
      font-size: 50px;
      font-family: arial;
      
   }
   #contenair
   {
      top:0;
      display:flex;
      justify-content: center;
      
      visibility: : visible;
      position: absolute;
      width: 99%;
   }

   #button_start {
      background: yellow;
      border: yellow;
      width: 10%;
      text-align: center;
      left: 45%;
      position: absolute;
      font-size: 35;
   }
   #draw {
   position: absolute;
   text-align: center;
   width: 80%;
   left: 10%;
   top: 95%;
   BACKGROUND-COLOR: AQUA;
   border-color: blue;
   border-radius: 2pc;
   cursor: pointer;
   }
   #ball{
   width: 100%;
   position: fixed;
   top: 12%;
   height: 40%;
   display: flex;
   left: 0px;  
   align-items: center;
   justify-content: center;
   }
   #last_number {
   position: absolute;
   top: 0;
   font-size: 150;
   left: 25%;
   text-align: center;
   width: 50%;
   font-family: calibri;
   height: 50%;
   margin-top: 0;
   padding-top: 25%;
   }
   
   #number_picked {
   background: white;
   border: black 2px solid;
   position: absolute;
   left: 10%;
   top: 55%;
   width: 80%;
   height: 30%;
   border-collapse: collapse;
   text-align: center;
   font-weight: bold;
   visibility: visible;
   }
}